In [2]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import time
import pandas as pd

In [5]:
# Scrape all locations in the US
driver = webdriver.Chrome(executable_path=r'C:\Program Files\chromedriver.exe')
driver.get("https://www.signatureflight.com/locations?region=us")
time.sleep(3)
wait = WebDriverWait(driver, 10)

# Create variable to store results
name_results = []
location_results = []
code_results = []

# Find all 'locations' classes
locations = wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, "locations")))

# Iterate through locations
for location in locations:
    if not location.is_displayed():
            continue
     
    #find each airport name and append it to name_results
    airport = location.find_element_by_css_selector('[data-bind="text: $data.properties.locationName"]').text
    name_results.append(airport)
    
    #find each airport location and append it to name_results
    city = location.find_element_by_tag_name('p').text
    location_results.append(city)
    
    #find each aiport code
    code = location.find_element_by_css_selector('[data-bind="text: $data.properties.iata"]').text
    code_results.append(code)
    

# Create a DataFrame
df = pd.DataFrame({"Airport": name_results, "Location": location_results, "Airport code": code_results})

driver.close()

In [6]:
df

,Airport,Location,Airport code
0,Atlantic City Int'l,"Egg Harbor Township (Atlantic City), New Jersey",ACY
1,Anchorage Ted Stevens Int'l,"Anchorage, Alaska",ANC
2,Denver Centennial,"Englewood, Colorado",APA
3,Atlanta Hartsfield-Jackson Int'l,"Atlanta, Georgia",ATL
4,Austin Bergstrom Int'l,"Austin, Texas",AUS
...,...,...,...
124,Tampa Int'l,"Tampa , Florida",TPA
125,Trenton Mercer,"Trenton, New Jersey",TTN
126,Waukegan National,"Waukegan, Illinois",UGN
127,Van Nuys West Terminal,"Van Nuys, California",VNY
128,Van Nuys East Terminal,"Van Nuys, California",VNY